* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red !important; */
}

/* header */

header {
  background: transparent;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.7s ease-in-out;
}

.tripo {
  background-color: #da392b;
  color: #fdf6f5;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0 0 10px 10px;
  font-family: "Pacifico", cursive;
  font-size: 1.7rem;
  margin-left: 40px;
}

.dropdown {
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0s 1.5s, opacity 0.4s 0s;
  position: absolute;
  bottom: -106px;
  margin-left: -20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.link-list {
  margin-left: 20vw;
}

.down-arrow {
  display: none;
  font-size: 0.1px;
}

.default-cursor {
  cursor: default;
}

.games:hover div {
  max-height: 500px;
  opacity: 1;
  transition-delay: 0s;
}

.dropdown p {
  padding: 7px 10px;
  cursor: pointer;
}

.dropdown p:hover {
  background-color: #da392b;
  color: white;
}

.border-top {
  border-radius: 10px 10px 0 0;
}

.border-bottom {
  border-radius: 0px 0px 10px 10px;
}

header a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  font-size: 1rem;
}

header li {
  display: inline-block;
  padding: 20px 25px;
  height: 100%;
  color: #272443;
  background-color: white;
  margin-right: -10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

header .li-hov:hover {
  background-color: #da392b !important;
  color: white !important;
}

.round {
  border-radius: 0px 0px 10px 0px;
}

header ul {
  border-radius: 0px 0px 15px 15px;
  margin-left: 80px;
}

#red-bg {
  background-color: #da392b;
  border-radius: 0px 0px 0px 10px;
  color: white;
}

.toggle-box {
  display: none;
}

/* Hero Section */

#hero-section {
  height: 100vh;
  background-image: url("../img/hero-img.webp");
  background-repeat: no-repeat;
  background-size: 1750px;
  margin-top: -59px;
  padding: 100px 0 0 50px;
  transition: all 0.3s linear;
}

#hero-section div {
  margin-top: 80px;
  margin-left: 20px;
  color: #272443;
  font-family: "Suez One", serif;
}

#hero-section div h1 {
  font-size: 5rem;
}

#hero-section div p {
  font-size: 1.4rem;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#hero-section div img {
  margin-right: 20px;
  cursor: pointer;
}

/* Card */

.games-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  column-gap: 40px;
  position: relative;
  z-index: 70;
  margin-top: -130px;
}

.games-box img {
  border-radius: 20px;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  transition: all 1s ease-in-out;
}

.games-box img:hover {
  opacity: 1;
  transform: scale(1.15);
  transition: all 1s ease-in-out;
}

.card-text {
  color: white;
  font-family: "Roboto", sans-serif;
  position: relative;
  z-index: 75;
  margin-top: -70px;
  margin-left: 30px;
  cursor: pointer;
}

.games-box > div {
  height: 56vh;
  width: 20vw;
  border: 5px rgba(181, 49, 36, 255);
  background-color: rgba(181, 49, 36, 255);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
}

.last-card {
  text-align: center;
  background: linear-gradient(#fbfb70, #e1643a);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.7rem;
  color: #642b3a;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.last-card:hover {
  font-size: 1.9rem;
  background: #fbfb70;
  transition: all 1s ease-in-out;
}

/* About Section */

.about-tripo {
  margin-top: -330px;
  background-color: #f6f4f0;
  color: #272443;
  font-family: "Roboto", sans-serif;
  padding-top: 450px;
  text-align: center;
}

.about-text {
  width: 80%;
  margin: 0 auto 50px auto;
}

.about-text h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.big {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.small {
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 25px;
}

.about-text a {
  background-color: #da392b;
  color: #fdf6f5;
  text-decoration: none;
  display: inline-block;
  padding: 18px 22px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 550;
  letter-spacing: 1px;
}

.center-pic {
  margin: 0 auto 40px;
  border-radius: 15px;
  height: 55vh;
  width: 45vw;
  background-image: url("../img/real-desk.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
}

.center-pic:hover {
  box-shadow: inset 0 0 0 1000px rgba(181, 49, 36, 0.3);
}

.center-pic img {
  width: 200px;
  margin: 0 0 -40px -100px;
}

.about-tripo > h2 {
  margin: 20px auto 30px auto;
  font-size: 3rem;
}

.about-tripo > p {
  margin-bottom: 100px;
  font-size: 1.2rem;
  font-weight: 600;
}

.game-cards {
  height: 180vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 150px;
  row-gap: 100px;
  padding: 40px 80px;
  background-image: url("../img/clear-phone.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.game-cards > div {
  background-color: white;
  height: 300px;
  width: 376px;
  border-radius: 20px;
  padding: 40px;
}

.game-cards > div > div {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: start;
  column-gap: 20px;
  margin-bottom: 40px;
}

.game-cards > div > div > img {
  border-radius: 30px;
  border: 7px solid white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.game-cards > div > div h2 {
  margin-bottom: 10px;
}

.game-cards > div > p {
  text-align: left;
  color: #272443;
  font-weight: bold;
  margin-bottom: 50px;
}

.game-cards > div > span {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game-cards > div > span {
  cursor: pointer;
}

.game-cards > img {
  margin-top: 20px;
}

.join-our-team {
  height: 93vh;
  background-image: url("../img/red-dragon.webp");
  background-repeat: repeat;
  background-position: center right;
  background-size: cover;
  padding: 100px 0 0 80px;
  font-family: "Roboto";
  color: white;
  position: relative;
  transition: all 0.1s ease;
  background-attachment: fixed;
}

.join-our-team h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.join-our-team p {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.join-our-team a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #fcff72;
  padding: 20px;
  border-radius: 10px;
  font-weight: 550;
  transition: all 0.5s;
}

.join-our-team a:hover {
  background-color: white;
}

.join-our-team img {
  position: absolute;
  bottom: 0px;
  right: 60px;
}

.form-section {
  padding: 20px;
  height: 80vh;
  background-image: url("../img/blue-bubbles.webp");
  background-repeat: repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease;
}

.big-form {
  position: relative;
  z-index: 99;
  margin-top: -300px;
  margin-left: 70px;
  font-family: "Roboto", sans-serif;
  color: #272443;
  background-color: white;
  width: 25%;
  border-radius: 20px;
  padding: 40px 40px;
  font-size: 1rem;
  font-weight: bold;
  height: 70vh;
}

.big-form h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.big-form p {
  font-weight: bold;
  margin-bottom: 30px;
}

.big-form input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border: 1px solid #272443;
  margin-top: 10px;
  margin-bottom: 10px;
}

.big-form label {
  margin-bottom: 20px;
}

.big-form textarea {
  width: 100%;
  border: 1px solid #272443;
  margin: 15px 0 30px 0;
  border-radius: 7px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-bottom: 20px;
}

.email {
  display: inline-block;
}

.big-form button {
  display: inline-block;
  width: 102%;
  background-color: #272443;
  padding: 18px 0;
  border: solid;
  border-radius: 10px;
  font-size: 1.2rem;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.big-form button:hover {
  background-color: #da392b;
}

.small-form {
  background-color: #da392b;
  color: white;
  width: 25%;

  margin-left: auto;
  margin-right: 60px;
  padding: 30px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  margin-top: -90px;
}

.small-form h2 {
  margin-bottom: 45px;
}

.small-form input {
  display: inline-block;
  width: 60%;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #272443;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-right: 20px;
}

.small-form button {
  display: inline-block;
  width: 20%;
  height: 55px;
  background-color: #fcff72;
  padding: 2px;
  border: solid transparent;
  border-radius: 10px;
  font-size: 1rem;
  color: #272443;
  transition: all 0.5s;
  cursor: pointer;
}

.small-form button:hover {
  background-color: white;
}

.small-form label {
  font-weight: bold;
}

footer {
  background-color: #f6f4f0;
  text-align: center;
}

footer a {
  margin-bottom: 40px;
}

footer h2 {
  font-family: "Roboto", sans-serif;
  color: #272443;
  margin-bottom: 40px;
}

footer > div {
  height: 50vh;
  border-top: 1px solid #272443;
  border-bottom: 1px solid #272443;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 50px;
}

footer > div > div {
  margin-top: 50px;
  text-align: left;
}

footer > div > div > a {
  display: block;
  text-decoration: none;
  color: #757575;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
